* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}
/* Header */
.header {
  border-bottom: 2px solid #ccc;
}

/* top bar */
.topbar {
  background-color: #0b0504;
  font-size: 16px;
  color: #fff;
}

.topbar p {
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbar a {
  color: #fff;
  margin-left: 5px;
}

.logo img {
  padding: 5px 0 0 0;
}

.list-navbar {
  gap: 50px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1px;
  text-decoration: none;
  list-style: none;
  padding: 10px;
}

.nav-item:hover {
  text-shadow: 1px 0 0 currentColor;
}

.active {
  padding: 10px 0 10px 0;
  border-bottom: 2px solid #848283;
}

.search {
  max-width: 243px;
}

.search .form-control {
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: #f5f5f5;
  padding: 8px 15px;
  font-size: 14px;
  color: #999;
}

.search .form-control:focus {
  outline: none;
  box-shadow: none;
  background-color: #e0e0e0;
}

.search .input-group-text {
  background-color: #f5f5f5;
  border: none;
  border-radius: 0 5px 5px 0; /* Bo góc trái */
  padding: 15px;
  left: 0;
  top: 0;
}

.fa-heart,
.fa-cart-shopping {
  font-size: 20px;
}

/* Banner and  category */
